* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    width: 652px;
    height: 652px;
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    border: 4px solid black;
}

.blackSquare {
    width: 80px;
    height: 80px;
    background-color: black;
}

.whiteSquare {
    width: 80px;
    height: 80px;
}

.diagonalElements {
    background-color: red !important;
}